{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div class = "post-container">

        {% for post in all_posts %}
            
            <div class = "card">
                
                <div id = '{{post.id}}' class = "card-body">

                    <a href = "{% url 'profile' post.user.id %}"><p class="card-title"><b>{{post.user}}</b></p></a>
                    
                    <div class = "post-content">
                        <small class="card-subtitle mb-2 text-muted">{{post.timestamp}}</small>
                        <p class="card-text">{{post.text}}</p>
                    </div>
                    
                    {% if user.is_authenticated %}
                    <div class = "post-buttons pt-2">
                        {% if user in post.user_likes.all%}
                            <button id = "like-post" class="card-link btn btn-primary">Unlike <span id = "like-counts" class="badge text-bg-secondary">{{post.user_likes.all.count}}</span></button>
                        {%else%}
                            <button id = "like-post" class="card-link btn btn-primary">Like <span id   = "like-counts" class="badge text-bg-secondary">{{post.user_likes.all.count}}</span></button>
                        {%endif%}

                        {% if post.user == user%}
                            <button id = "edit-post" class="card-link btn btn-primary">Edit Post</button>
                        {%endif%}   
                    </div>
                    {%endif%}

                </div>

            </div>

        {% endfor %}
    </div>

{% endblock %}

{%block script%}
    <script src = "{% static 'network/scripts.js' %}"></script>
{%endblock%}