{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <div id = "post-page">
        {% if user.is_authenticated %}
        <div id = "form-post">
            <form action = "{%url 'post' %}" method = "post">
                {%csrf_token%}
                <label for = "id_text"><b>New Post</b></label>
                {{form}}
                <input type="submit" value = "Post" class="btn btn-primary" id="post"/>
            </form>
        </div>
        {% endif %}

        <div id = "all-posts">

            {%for post in all_posts%}
                <div class="card mb-3">
                    <div class="card-header bg-transparent">
                        <a href = "{% url 'show_profile' post.user.id %}">{{post.user}}</a>
                    </div>
                    <div class="card-body text-success">
                        <p class="card-text">{{post.text}}</p>
                        <small class="text-muted">Edit</small>
                    </div>
                    
                    {% if user.is_authenticated %}
                        
                        <div id = "like-buttons-content" class="card-footer bg-transparent">
                            {%if user in post.user_likes.all%}
                                <button id = "unlike-button" type="button" class="btn btn-primary" onclick = "unlikePost({{post.id}})">Unlike {{post.likes}}</button> 
                            {%else%}
                                <button id = "like-button" type="button" class="btn btn-primary" onclick = "likePost({{post.id}})">Like {{post.likes}}</button>
                            {%endif%}
                        </div>

                    {% endif %}
                    
                </div>
            {%endfor%}

        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}