{% extends "auctions/layout.html"%}

{%block body%}
<div class = "container">
   <img src = "{{auction.img_url}}">
   
   <br>
   <a href = "">Add to watchlist</a>

   {%if can_close%}
      <a href = "{%url 'close_auction' auction.id%}">Close auction</a>
   {%endif%}

   <ul class = "list-group list-group-flush">
      <li class = "list-group-item">{{auction.title}}</li>
      <li class = "list-group-item">{{auction.description}}</li>
      <li class = "list-group-item">{{auction.category}}</li>
      <li class = "list-group-item">{{auction.user}}</li>
      <li class = "list-group-item">Starting price: {{auction.starting_price}}</li>
   </ul>
   
   There are {{counts}} bid/s for this auction.
   <br>
   Current price: ${{bids.price__max}}

   {%if messages%}
      <ul class="messages">
         {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
      </ul>
   {%endif%}

   <form action = "{% url 'make_bid' auction.id%}" method = "post">
      {% csrf_token %}
      {{bidform}}
      <button class = "btn btn-primary" type = "submit">Make bid</button>
   </form>
</div>
{%endblock%}
