{% extends "auctions/layout.html"%}

{%block body%}
<div class = "container">
   <img src = "{{auction.img_url}}">
   
   <br>
   {%if watched == False%}
   <form action = "{%url 'add_watchlist' auction.id%}" method = "post">
      {%csrf_token%}
      <button class = "btn btn-primary" type = "submit">Add to watchlist</button>
   </form>
   {%else%}
      <a href = "{%url 'remove_watchlist' auction.id %}">Remove</a>
   {%endif%}
   
   {%if can_close%}
      {%if auction.status == True%}
         <a href = "{%url 'close_auction' auction.id%}">Close auction</a>
      {%endif%}
   {%endif%}

   {%if won_user%}
      {%if auction.status == False%}
         You won this auction!
      {%endif%}
   {%endif%}

   <ul class = "list-group list-group-flush">
      <li class = "list-group-item">{{auction.title}}</li>
      <li class = "list-group-item">{{auction.description}}</li>
      <li class = "list-group-item">{{auction.category}}</li>
      <li class = "list-group-item">{{auction.user}}</li>
      <li class = "list-group-item">Starting price: {{auction.starting_price}}</li>
   </ul>
   
   {% if auction.status == True%}
      There are {{counts}} bid/s for this auction.
      <br>
      Current price: ${{bids.price__max}}

      {%if messages%}
         <ul class="messages">
            {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
         </ul>
      {%endif%}
      
         <form action = "{% url 'make_bid' auction.id%}" method = "post">
            {% csrf_token %}
            {{bidform}}
            <button class = "btn btn-primary" type = "submit">Make bid</button>
         </form>
   {%endif%}
   <br>
   <form action = "{%url 'make_comment' auction.id%}" method = "post">
      {% csrf_token %}
      {{commentform}}
      <button class = "btn btn-primary" type = "submit">Post Comment</button>
   </form>
   
   <ul class = "list-group list-group-flush">
      {%for comment in comments%}
         <li class = "list-group-item">{{comment.user}} <br> {{comment.user_comment}}</li>
      {%endfor%}
   </ul>

</div>
{%endblock%}
