{% extends "auctions/layout.html"%}

{%block body%}
<div>
   <img src = "{{auction.img_url}}">
   
   <br>

   {{auction.title}}

   {{auction.description}}

   {{auction.category}}

   {{auction.user}}

   {{auction.starting_price}}

   <a href = "">Add to watchlist</a>

   <br>
   
   There are {{counts}} bid/s for this auction.

   ${{bids.price__max}}

   <form action = "{% url 'make_bid' auction.id%}" method = "post">
      {% csrf_token %}
      {{bidform}}
      <button class = "btn btn-primary" type = "submit">Make bid</button>
   </form>
</div>
{%endblock%}
